:root {
    --primary-color: #DB3522;
    --secondary-color: #E57164;
    --complementary-color: #22C8DB;
}

a, a:hover {
    color: var(--secondary-color);
}

#body {
    background-color: white;
}

#content {
    padding: 5px;
    overflow: auto;
    height: 100%;
}

.container-fluid {
    display: block !important;
}

.nav-item { 
    margin: 0 auto;
}

.btn-outline-primary {
    color: var(--primary-color) !important;
    background-color: white !important;
    border-color: var(--primary-color) !important;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    color: white !important;
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary {
    color: white !important;
    background-color: var(--primary-color) !important;
    border-color: var(--secondary-color) !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: white !important;
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
    outline: none !important;
    box-shadow: none !important;
}

.form-control:focus {
    border-color: var(--primary-color); 
    /* box-shadow: none;
    -webkit-box-shadow: none; */
    box-shadow: 0 0 5px var(--secondary-color) !important;
}

.has-error {
    box-shadow: none;
    -webkit-box-shadow: none;
}

::selection {
    color: var(--primary-color);
}

select option:checked {
    background-color: var(--secondary-color);
    color: white;
}

/* Toast notification */

/* The snackbar - position it at the bottom and in the middle of the screen */
#toast {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 80px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #toast.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
  }
  
  @keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
  }

/* Non-mobile devices */
@media (any-hover: hover) {
    body {
        background-color:#d8d8d8;
    }

    #body {
        margin: 1% auto;
        border: 2px solid var(--primary-color);
        height: 800px;
        width: 375px;
        position: relative;
    }

    .nav-item { 
        margin-left: 0 auto;
    }
}

/* Mobile devices */
@media (any-hover: none) and (min-device-width: 1024px) and (max-device-width: 2048px), (any-hover: none) and (orientation: landscape) {
    body {
        background-color:#d8d8d8;
    }

    #body {
        margin: 20% auto;
        border: 2px solid var(--primary-color);
        height: 812px;
        width: 375px;
        position: relative;
    }

}
