{% extends 'blood/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'blood/css/map/map.css' %}" type="text/css" />
{% endblock %}

{% block content %}

    <!-- Dynamic search input -->
    <input id="search" class="form-control" placeholder="Buscar" type="text" onkeyup="search()" style="position: absolute; height: 35px; width: 97.5%">

    <!-- Places list -->
    <div id="places" class="overflowHiddenButFunctional">
        <div class="place">
            <div style="float: left;  display: flex; flex-direction: column; align-items: center; margin-right: 10px; width: 50px">
                {% include '../svg/blood-bag.svg' %}
                <span style="font-size: 14px; color: var(--complementary-color)">4,6km</span>
            </div>
            <div style="height: 100%; display: flex; align-items:center; justify-content:center;">
                <a style="width: 100%;" target="_blank" href="http://maps.google.com/?q=Banco de Sangue de São Paulo">
                    <span name="placeName" style="font-size: 16px; ">Banco de Sangue de São Paulo</span>
                </a>
                <div onclick="favorite(true, '{{x}}')" id="nonFavorite{{x}}">
                    {% include '../svg/non-favorite.svg' %}
                </div>
                <div onclick="favorite(false, '{{x}}')" id="favorite{{x}}" style="display: none">
                    {% include '../svg/favorite.svg' %}
                </div>
            </div>
        </div>

        <!-- Places list -->
        {% for x in '01234567891011121314151617181920' %}
            <div class="place">
                <div style="float: left;  display: flex; flex-direction: column; align-items: center; margin-right: 10px; width: 50px">
                    {% include '../svg/blood-bag.svg' %}
                    <span style="font-size: 14px; color: var(--complementary-color)">11,2km</span>
                </div>
                <div style=" height: 100%; display: flex; align-items:center; justify-content:center;">
                    <a style="width: 100%;" target="_blank" href="http://maps.google.com/?q=Banco de Sangue - Unidade Einstein Morumbi">
                        <span name="placeName" style="font-size: 16px;">Banco de Sangue - Unidade Einstein Morumbi</span>
                    </a>
                    <div onclick="favorite(true, '{{x}}')" id="nonFavorite{{x}}">
                        {% include '../svg/non-favorite.svg' %}
                    </div>
                    <div onclick="favorite(false, '{{x}}')" id="favorite{{x}}" style="display: none">
                        {% include '../svg/favorite.svg' %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        /*
            Search
        */
        function search() {
            document.getElementById("places").scrollTop = 0;

            const input = document.getElementById("search");
            const places = document.getElementsByName("placeName");
            const filter = input.value.toUpperCase();

            // Loop through all places, and hide those who don't match the search query
            places.forEach(function(place) {
                const placeName = place.textContent || place.innerText
                const placeHolder = place.parentElement.parentElement.parentElement;

                if (placeName) {
                    if (placeName.toUpperCase().indexOf(filter) > -1) {
                        placeHolder.style.display = "";
                    } else {
                        placeHolder.style.display = "none";
                    }
                }
            });
        };


        /* 
            Favorite    
        */
        var timer;
        
        function wait(ms) {
            return new Promise(resolve => setTimeout(resolve, ms))
        }

        async function favorite(action, id) {
            
            // 
            document.getElementById(action ? 'nonFavorite'+id : 'favorite'+id).style.display = 'none'
            document.getElementById(action ? 'favorite'+id : 'nonFavorite'+id).style.display = ''

            // Loading
            const loading = document.getElementById("loading")
            loading.style.display = 'block'
            await wait(2000);
            loading.style.display = 'none'

            /*
                Toast notification
            */

            // Get the toast DIV
            const toast = document.getElementById("toast")

            // Try  to hide (maybe it's visible)
            toast.className.replace("show", "")

            // Change message between 'added' and 'removed' favorite
            toast.innerHTML = action ? 'Adicionado aos favoritos!' : 'Removido dos favoritos'

            // Add the "show" class to DIV
            toast.className = "show"

            // After 2 seconds, remove the show class from DIV
            timer = setTimeout(function(){ toast.className = toast.className.replace("show", ""); }, 2000)
        }
    </script>
{% endblock %}