{% extends 'blood/base.html' %}
{% load static %}
{% comment %} {% load qr_code %} {% endcomment %}

{% block head %}
    <link rel="stylesheet" href="{% static 'blood/css/profile/profile.css' %}" type="text/css" />
{% endblock  %}

{% block content %}
    <!-- Header -->
    <div style="margin-left: 5px; height: fit-content; text-align: center;">

        <!-- Share button -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="var(--primary-color)" class="bi bi-share" viewBox="0 0 16 16"
            style="float:left; margin: 5px; cursor: pointer">
            <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
        </svg>

        <!-- Edit button -->
        <button type="button" class="btn btn-outline-primary btn-lg" style="float: right; top: 0; right: 0; margin: 5px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
        </button>

        <!-- Avatar -->
        <svg xmlns="http://www.w3.org/2000/svg" width="30%" height="60%" fill="var(--secondary-color)" class="bi bi-person-circle" viewBox="0 0 16 16"
            style="margin-bottom: -20px; margin-top: -50px;">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>

        <!-- Blood type -->
        <span style="font-size: 72px; margin-left: 10px; color: var(--secondary-color)">AB-</span>

        <!-- Name -->
        <span style="font-size: 24px;">Fulano de Tal Souza Silva de Moura Santos mais nove</span>

        <br>

        <!-- Username -->
        <span style="font-size: 16px; font-style: italic; color: var(--complementary-color)">fulaninho29</span>
    </div>

    <!-- Bio -->
    <p style="margin: 5px; padding: 5px; border-top: 1px solid var(--secondary-color); border-bottom: 1px solid var(--secondary-color); text-align: justify; border-radius: 5px;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam maximus venenatis tellus a pellentesque. Cras sed justo nulla. Cras sed nisl fringilla, eleifend nibh sed, tristique nisi. Fusce blandit.
    </p>

    <br>

    <!-- Count info -->
    <table style="width: 100%;">
        <thead>
            <tr>
                <th>
                   <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="var(--primary-color)" class="bi bi-gem" viewBox="0 0 16 16">
                        <path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785l-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004l.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495L8 13.366l2.532-7.876-5.062.005zm-1.371-.999l-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817l5.123-6.83-2.928.002-2.195 6.828z"/>
                    </svg>
                </th>
                <th>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="var(--primary-color)" class="bi bi-bookmark-heart" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                    </svg>
                </th>
            <tr>
        </thead>
        <tbody>
            <tr>
                <td><span style="font-weight: bold;">350</span> pontos para você utilizar!</td>
                <td><span style="font-weight: bold;">6</span> doações de sangue!</td>
            </tr>
        </tbody>
    </table>
    <br>

    <!-- Badges -->
    <span style="font-size: 18px;">Emblemas</span>
    <div style="display: flex; flex-wrap: nowrap; overflow-x: scroll; margin-bottom: 10px">
        {% for x in '012345678' %}
            <div style="padding: 5px; margin-right: 5px; border: 1px solid var(--primary-color); border-radius: 5px; min-width: 35%; text-align: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="var(--primary-color)" class="bi bi-award" viewBox="0 0 16 16">
                        <path d="M9.669.864L8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193l.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"/>
                        <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                    </svg>
                <br>
                <span style="font-size: 14px;">Doador frequente</span>
            </div>
        {% endfor %}
    </div>

    <!-- Scan button (opens camera/upload interface) -->
    <button onclick="scan()" type="button" class="btn btn-outline-primary btn-lg" style="width: -webkit-fill-available; margin: 5px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-life-heart" viewBox="0 0 16 16"
            style="margin-right: 10px">
            <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
        </svg>
        Receber pontos
    </button>

    <button type="button" class="btn btn-outline-primary btn-lg" style="width: -webkit-fill-available; margin: 5px">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-life-preserver" viewBox="0 0 16 16"
            style="margin-right: 10px">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm6.43-5.228a7.025 7.025 0 0 1-3.658 3.658l-1.115-2.788a4.015 4.015 0 0 0 1.985-1.985l2.788 1.115zM5.228 14.43a7.025 7.025 0 0 1-3.658-3.658l2.788-1.115a4.015 4.015 0 0 0 1.985 1.985L5.228 14.43zm9.202-9.202l-2.788 1.115a4.015 4.015 0 0 0-1.985-1.985l1.115-2.788a7.025 7.025 0 0 1 3.658 3.658zm-8.087-.87a4.015 4.015 0 0 0-1.985 1.985L1.57 5.228A7.025 7.025 0 0 1 5.228 1.57l1.115 2.788zM8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
        </svg>
        Criar campanha
    </button>

    <br>
    <br>

    <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-primary btn-lg" style="width: -webkit-fill-available; margin: 5px">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16"
            style="margin-right: 10px">
            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
        </svg>
        Logout
    </button></a>

    <div id="camera">
        <img style="width: 100%; height: 100%" src="{% static 'blood/scan.png' %}">
    </div>

    {% comment %} <div id="qrCode">
        <div class="qrCode">
            {% qr_from_text "Hello World!" size="M" version="6" %}
        </div>
        <button id="sairQrCode" type="button" class="btn btn-primary btn-lg">
            Fechar
        </button>
    </div> {% endcomment %}

    <script>
        function scan() {
            const camera = document.getElementById("camera")
            camera.style.display = 'block'

            setTimeout(function(){camera.style.display = 'none'}, 2000)
        }

        {% comment %} var generateQrCode = document.getElementById("generateQrCode");
        generateQrCode.addEventListener("click", function() {
                var qrCode = document.getElementById("qrCode");
                qrCode.style.display = 'block';
        });

        var sairQrCode = document.getElementById("sairQrCode");
        sairQrCode.addEventListener("click", function() {
                var qrCode = document.getElementById("qrCode");
                qrCode.style.display = 'none';
        }); {% endcomment %}
    </script>
{% endblock %}

