{% extends 'blood/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'blood/css/rewards/rewards.css' %}" type="text/css" />
{% endblock  %}

{% block content %}

    <!-- Order by -->
    <div style="position: absolute; height: 35px; width: 98.5%; background-color: white;">
        <form method="post" style="width: calc(100% - 70px); float: left;">
            {% csrf_token %}

            <select name="orderby" class="form-select" style="">
                <option value="distance">Distância</option>
                <option value="name">Nome</option>
                <option value="points">Pontos</option>
            </select>
        </form>
        <button onclick="filter('open')" style="border: none; background: none; margin-left: 5px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="var(--secondary-color)" class="bi bi-funnel-fill" viewBox="0 0 16 16">
                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
            </svg>
        </button>
    </div>

    <!-- Rewards list -->
    <div class="overflowHiddenButFunctional" style="overflow: auto; height: 100%; padding-top: 50px">
        {% for x in '01234567891011121314151617181920' %}
            <span style="font-size: 18px;">Restaurantes</span>
            <div style="display: flex; flex-wrap: nowrap; overflow-x: scroll; margin-bottom: 10px;">
                {% for x in '012345678' %}
                    <div class="" style="padding: 5px; margin-right: 5px; border: 1px solid var(--primary-color); border-radius: 5px; min-width: 35%; text-align: center;">
                        <img src="https://1.bp.blogspot.com/-CVnkIRDUo70/Ws1SlqjX4qI/AAAAAAABqBQ/oBg2BaIfs98YSDVCdrawr_OvD7GU4E2IwCLcBGAs/s1600/out%2Blogo.jpg" 
                            style="width: 100%;"/>
                        <br>
                        <span style="font-size: 14px; color: var(--complementary-color)">15 pontos</span>
                        <br>
                        <span style="font-size: 14px;">Bloomin' Onion & Kokaburra Wings 2 por 1</span>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <!-- Filters -->
    <div id="filter">
        <div class="filter">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" value="" id="" checked>
                <label class="form-check-label" for="flexCheckDefault">
                    Restaurantes
                </label>
            </div>
            <br>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" value="" id="" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    E-commerces
                </label>
            </div>
            <br>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" value="" id="" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Saúde
                </label>
            </div>
        </div>
        <br>
        <button onclick="filter('close')" id="filtrar" type="button" class="btn btn-primary btn-lg" style="margin-left: 40%">
            Filtrar
        </button>
        <button onclick="filter('filter')" id="filtrar" style="border: none; background: none; color: var(--primary-color); position: absolute; top: 5; right: 5;">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </button>
    </div>

     <script>

        // Open filters div
        function filter(action) {
            const filter = document.getElementById("filter")
            
            if (action == 'open') {
                filter.style.display = 'block'
            } else {
                if (action == 'close') {
                    filter.style.display = 'none'
                } else {
                    if (action == 'filter') {   
                        filter.style.display = 'none'
                    }      
                }

            } 
            
        }
    </script>
{% endblock  %}