{% extends 'blood/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'blood/css/rewards/rewards.css' %}" type="text/css" />
{% endblock  %}

{% block content %}

    <!-- Order by -->
    <div style="position: absolute; height: 35px; width: 98.5%; background-color: white;">
        <form method="post" style="width: calc(100% - 70px); float: left;">
            {% csrf_token %}

            <select name="orderby" class="form-select" style="">
                <option value="distance">Distância</option>
                <option value="name">Nome</option>
                <option value="points">Pontos</option>
            </select>
        </form>
        <button onclick="filter('open')" style="border: none; background: none; margin-left: 5px;">
            {% include '../svg/filter.svg' %}
        </button>
    </div>

    <!-- Rewards list -->
    <div class="overflowHiddenButFunctional" style="overflow: auto; height: 100%; padding-top: 50px">
        {% for x in '01234' %}
            <span style="font-size: 18px;">Restaurantes</span>
            <div style="display: flex; flex-wrap: nowrap; overflow-x: scroll; margin-bottom: 10px;">
                {% for x in '0123456' %}
                    <div style="padding: 5px; margin-right: 5px; border: 1px solid var(--primary-color); border-radius: 5px; min-width: 35%; text-align: center;">
                        <img src="https://1.bp.blogspot.com/-CVnkIRDUo70/Ws1SlqjX4qI/AAAAAAABqBQ/oBg2BaIfs98YSDVCdrawr_OvD7GU4E2IwCLcBGAs/s1600/out%2Blogo.jpg" width="100%"/>
                        <br>
                        <span style="font-size: 14px; color: var(--complementary-color);">15 pontos</span>
                        <br>
                        <span style="font-size: 14px;">Bloomin' Onion & Kokaburra Wings 2 por 1</span>
                    </div>
                {% endfor %}
            </div>

            <span style="font-size: 18px;">Entretenimento</span>
            <div style="display: flex; flex-wrap: nowrap; overflow-x: scroll; margin-bottom: 10px;">
                {% for x in '0123456' %}
                    <div style="padding: 5px; margin-right: 5px; border: 1px solid var(--primary-color); border-radius: 5px; min-width: 35%; text-align: center;">
                        <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c529.png" width="100%"/>
                        <br>
                        <span style="font-size: 14px; color: var(--complementary-color)">10 pontos</span>
                        <br>
                        <span style="font-size: 14px;">1 mês grátis de Netflix!</span>
                    </div>
                    <div style="padding: 5px; margin-right: 5px; border: 1px solid var(--primary-color); border-radius: 5px; min-width: 35%; text-align: center;">
                        <img src="https://www.flixmedia.com.br/assets/images/parceiros/logo-gnc.png" width="100%"/>
                        <br>
                        <span style="font-size: 14px; color: var(--complementary-color);">A partir de 10 pontos</span>
                        <br>
                        <span style="font-size: 14px;">Ingressos para sala comum ou 3D</span>
                    </div>
                {% endfor %}
            </div>

            <span style="font-size: 18px;">Urbano</span>
            <div style="display: flex; flex-wrap: nowrap; overflow-x: scroll; margin-bottom: 10px;">
                {% for x in '0123456' %}
                    <div style="padding: 5px; margin-right: 5px; border: 1px solid var(--primary-color); border-radius: 5px; min-width: 35%; text-align: center;">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/c/cc/Uber_logo_2018.png" width="100%"/>
                        <br>
                        <span style="font-size: 14px; color: var(--complementary-color)">1 ponto = 1 real</span>
                        <br>
                        <span style="font-size: 14px;">Cupom de desconto Uber</span>
                    </div>
                    <div style="padding: 5px; margin-right: 5px; border: 1px solid var(--primary-color); border-radius: 5px; min-width: 35%; text-align: center;">
                        <img src="https://www.abcdacomunicacao.com.br/wp-content/uploads/unidas_logo-baixa.png" width="100%"/>
                        <br>
                        <span style="font-size: 14px; color: var(--complementary-color)">30 pontos</span>
                        <br>
                        <span style="font-size: 14px;">3 diárias grátis!</span>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <!-- Filters -->
    <div id="filter">
        <div class="filter">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" value="" id="" checked>
                <label class="form-check-label" for="flexCheckDefault">
                    Restaurantes
                </label>
            </div>
            <br>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" value="" id="" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    E-commerces
                </label>
            </div>
            <br>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" value="" id="" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Saúde
                </label>
            </div>
        </div>
        <br>
        <button onclick="filter('close')" id="filtrar" type="button" class="btn btn-primary btn-lg" style="margin-left: 40%">
            Filtrar
        </button>
        <button onclick="filter('filter')" id="filtrar" style="border: none; background: none; color: var(--primary-color); position: absolute; top: 5; right: 5;">
            {% include '../svg/close.svg' %}
        </button>
    </div>

    <script type="text/javascript">

        // Open filters div
        function filter(action) {
            const filter = document.getElementById("filter")
            
            if (action == 'open') {
                filter.style.display = 'block'
            } else {
                if (action == 'close') {
                    filter.style.display = 'none'
                } else {
                    if (action == 'filter') {   
                        filter.style.display = 'none'
                    }      
                }

            } 
        }
    </script>
{% endblock  %}