th, td {
    text-align: center;
    width: 45%;
}

#camera {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

/* #qrCode {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    text-align: center;
    line-height: 100%;
    background: white;
    opacity: 0.9;
}

.qrCode {
    margin-top: 40%;
} */
