{% extends 'blood/base.html' %}
{% load static %}

{% block head %} 
    <link rel="stylesheet" href="{% static 'blood/css/home.css' %}" type="text/css" />
{% endblock %}

{% block content %}
    <p style="color: var(--complementary-color); margin-bottom: -5px; text-align: right;">Bem-vindo, Fulano!</p>

    <!-- Banners -->
    <span style="font-size: 18px; font-weight: bold; border-top: 2px solid var(--primary-color); border-bottom: 2px solid var(--primary-color)">Destaques</span>
    <img src="{% static 'blood/promo2.png' %}" style="width: 100%; border: 1px solid var(--complementary-color); border-radius: 5px; box-shadow: 0 2px 5px 0; margin: 10px 0 10px 0;">
    <img src="{% static 'blood/promo.png' %}" style="width: 100%; margin: 0 0 10px 0; border: 1px solid var(--complementary-color); border-radius: 5px; box-shadow: 0 2px 5px 0;">

    {% comment %} <!-- Double promo -->
    <div style="height: 125px; width: 100%; margin: 10px 0 20px 0">
        <img src="{% static 'blood/promo2.png' %}" style="width: 45%; height: 100%; border: 1px solid var(--complementary-color); border-radius: 5px; box-shadow: 0 2px 5px 0;">
        <img src="{% static 'blood/promo3.png' %}" style="width: 45%; height: 100%; float: right; border: 1px solid var(--complementary-color); border-radius: 5px; box-shadow: 0 2px 5px 0;">
    </div> {% endcomment %}

     <div class="new">
        <img src="{% static 'blood/promo4.png' %}" style="width: 20%; margin: 0 0 10px 0; border: 1px solid var(--complementary-color); border-radius: 5px; float: left;">
        <a href="#" target="_blank" style="margin-left: 10px; margin-bottom: 5px">Conheça a história de Carlos, que teve uma nova chance graças a ajuda de pessoas como você!</a>
    </div>
    <br>
    <span style="font-size: 18px; font-weight: bold; border-top: 2px solid var(--primary-color); border-bottom: 2px solid var(--primary-color)">Novidades</span>
    {% for x in '01234567891011' %}
        <div class="new">
            <span style="width: 90%">Novo benefício para você! Cupom mensal de 5 reais de desconto no 66Taxis!</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="var(--secondary-color)" class="bi bi-arrow-up-right-circle openExternal" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"/>
            </svg>
        </div>
    {% endfor %}
{% endblock %}